.bg-black {
    background-color: black;
}


/*adds a thin separator for inline elements*/

.border-right {
    padding-right: 0.5rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
    margin-right: 0.5rem;
}

.border-white {
    border-color: #FFFFFF;
}


/* loader symbol */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Flexbox classes */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Utility classes */

.pointer {
    cursor: pointer;
}

.thin {
    font-weight: 400 !important;
}

#mainNav {
    background-color: #222;
    border-bottom: 1px solid #222;
}


/*profile pic*/

.profile-pic-container {
    width: 250px;
    min-width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic {
    height: 100%;
    position: relative;
    right: 40px;
}


/*Jumbotron*/

@media only screen and (min-width: 768px) {
    .post-heading,
    .page-heading,
    .site-heading {
        padding: 100px 0 !important;
    }
}

/*admin side panel*/

.active-page {
    color: #fff!important;
}


/*footer*/

footer {
    padding: 1rem;
}
